**/.*
!.github/
!.cargo/
!.vscode/settings.json

**/target
**/*.rs.bk
*.img
*.log
Cargo.lock

/toolchain
/ignored
/rootfs
/riscv_rootfs
/prebuilt/linux/**/minirootfs.tar.*
/prebuilt/linux/riscv64/prebuild*
zCore/src/platform/riscv/kernel-vars.ld

.DS_Store
__pycache__
