[package]
name = "kernel-hal"
version = "0.1.0"
authors = ["Runji Wang <wangrunji0408@163.com>"]
edition = "2018"
description = "Kernel HAL interface definations."

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bitflags = "1.2"
trapframe = { git = "https://github.com/rcore-os/trapframe-rs", rev = "fed9668" }
numeric-enum-macro = "0.2"
acpi = "1.0.0"
