<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Fuchsia uses x18 for its shadow call stack. Darwin otherwise clears
         this platform register on return from host exceptions. -->
    <key>com.apple.private.custom-x18-abi</key>
    <true/>
</dict>
</plist>
