name: Deploy docs

on:
  push:
  pull_request:

env:
  rust_toolchain: nightly-2022-08-05

jobs:
  doc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ env.rust_toolchain }}

      - name: Pull prebuilt images
        run: make zircon-init

      - name: Build docs
        run: |
          cargo doc --no-deps --all-features --workspace
          .github/scripts/add-doc-index.sh

      - name: Deploy to Github Pages
        if: ${{ github.ref == 'refs/heads/master' }}
        uses: JamesIves/github-pages-deploy-action@releases/v3
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: target/doc
