name: CI

on: [push, pull_request]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - run: rm rust-toolchain
    - uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: nightly
        override: true
        components: rustfmt, clippy
    - name: Check code format
      uses: actions-rs/cargo@v1
      with:
        command: fmt
        args: --all -- --check
    - name: Clippy
      uses: actions-rs/cargo@v1
      with:
        command: clippy

  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: nightly
    - name: Setup Rust toolchain
      run: |
        rustup target add riscv32imac-unknown-none-elf
        rustup target add riscv64imac-unknown-none-elf
    - name: Build
      uses: actions-rs/cargo@v1
      with:
        command: build
        args: --all-features
    - name: Build for riscv32
      uses: actions-rs/cargo@v1
      with:
        command: build
        args: --package zircon-hal-bare --target riscv32imac-unknown-none-elf
    - name: Build for riscv64
      uses: actions-rs/cargo@v1
      with:
        command: build
        args: --package zircon-hal-bare --target riscv64imac-unknown-none-elf
    - name: Build docs
      uses: actions-rs/cargo@v1
      with:
        command: doc

  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Test
      uses: actions-rs/cargo@v1
      with:
        command: test
        args: --all-features --no-fail-fast  # Customize args for your own needs
      env:
        CARGO_INCREMENTAL: '0'
        RUSTFLAGS: '-Zprofile -Ccodegen-units=1 -Cinline-threshold=0 -Clink-dead-code -Coverflow-checks=off -Zno-landing-pads'
    - name: Gather coverage data
      id: coverage
      uses: actions-rs/grcov@v0.1
    - name: Coveralls upload
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        path-to-lcov: ${{ steps.coverage.outputs.report }}
    - name: Run benchmarks
      uses: actions-rs/cargo@v1
      with:
        command: bench
